.settings
/target
.project
/node_modules
/build/
/src/routes/routes.ts
/dist/
/node_modules/
/package-lock.json
/src/routes/routes.ts
/api/
/coverage/
.nyc_output/
.scannerwork/
.DS_Store
checkstyle-result.xml
*.lock
*.tgz
/.idea